[submodule "module/Nexus-Button"]
	path = module/Nexus-Button
	url = https://github.com/TheNexusAvenger/Nexus-Button.git
[submodule "module/Nexus-Instance"]
	path = module/Nexus-Instance
	url = https://github.com/TheNexusAvenger/Nexus-Instance.git
[submodule "module/Nexus-Project"]
	path = module/Nexus-Project
	url = https://github.com/TheNexusAvenger/Nexus-Project.git
[submodule "module/Nexus-Data-Store"]
	path = module/Nexus-Data-Store
	url = https://github.com/TheNexusAvenger/Nexus-Data-Store.git
[submodule "module/Module3D"]
	path = module/Module3D
	url = https://github.com/TheNexusAvenger/Module3D.git
